/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */
body {
  width: 192rem;
  height: 102.4rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 102rem;
}

.header__inner {
  width: 12rem;
  height: 11.6rem;
}

.button--category {
  background: var(--color-blue-600);
  color: var(--color-white);
  padding: 3rem 3.2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 12px;
}

header button:hover,
header button:focus {
  outline: 1px solid red;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 2px red;
}


/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */
.navigation {
  margin: 0rem 45rem 5.1rem;
  /* margin: 1.7rem 5rem 5.1rem; */
  width: 54rem;
  height: 50rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

/* 내비게이션 리스트 ul 배치 */
.navigation__inner .dep1-ul {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  padding: 1rem 0.5rem;

  border-top: 1px solid var(--color-gray-100);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--color-white);
}

/* 1,2depth / 2,3depth 구분선 */
.navigation__inner .dep2-ul,
.navigation__inner .dep3-ul {
  width: 100%;
  height: 100%;
  left: 17.5rem;
  padding: 1rem 0.5rem;
  position: absolute;
  top: 0;
}

.navigation__inner .dep3-ul {
  left: 18rem;
}

.navigation__inner .dep2-ul::before,
.navigation__inner .dep3-ul::before {
  content: '';
  border-top: 1px solid var(--color-gray-100);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* 네이게이션 js  */
/* .dep2-ul {
  display: none;
} */

.is--action .dep1-li:first-child:hover,
.is--action .dep1-li:first-child:focus {
  display: block;

}


/* 내비게이션 리스트 li */
.ico-clothes {
  color: var(--color-blue-600);
}

.navigation__inner li .arrow,
.navigation__inner .dep3-ul li:first-child {
  font-weight: 700;
  color: var(--color-blue-600);
}

.navigation__inner li .arrow {
  background: url(../../assets/icon/more-right-active.svg) no-repeat 95% 50%;
}

.navigation__list .dep1-li {
  width: 17rem;
  height: 3rem;
  gap: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__list .dep1-link {
  display: flex;
  padding: 0.5rem 0rem 0.5rem 2rem;
  width: 15rem;
  align-items: center;
  gap: 4px;
}

.navigation__list .dep2-li,
.navigation__list .dep3-li {
  /* display: inline;
  width: 17rem;
  height: 3rem; */

  display: inline-block;

}

.navigation__list .dep2-link,
.navigation__list .dep3-link {
  /* display: flex;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem; */

  /* display: inline-block;
  width: 17rem;
  height: 3rem;
  padding: 0; */
  display: block;
  padding: 0.5rem 0rem 0.5rem 2rem;
  width: 15rem;





}


/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */
.footer-link {
  display: inline-flex;
  width: 192rem;
  height: 4rem;
  margin: 0.5rem 1.4rem 0.6rem;

  font-size: 12px;
  color: var(--color-gray-800);
  background: var(--color-gray-200);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.footer-link li {
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-link a {
  display: block;
  padding: 0.5rem 1.4rem 0.6rem 1.4rem;
}

.footer-link .divider {
  border-right: 1px solid var(--color-gray-800);
  height: 1.4rem;
}

/* footer 쿠팡 정보 */
.footer-info {
  margin: 3.2rem 36rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 120rem;
  height: 14.3rem;
  gap: 63px;
  font-size: 16px;
  line-height: 120%
}

.footer-info .logo {
  width: 17.6rem;
  height: 4rem;
  margin: 0;
  background: url(../../assets/logo/logo-mono.svg) no-repeat;
}

.footer-info .service-offer li,
.footer-info .address li:nth-of-type(3) {
  padding-bottom: 1.2rem;
}

.footer-info .address li:not(:nth-of-type(3)),
.footer-info .bank-info li:first-child {
  padding-bottom: 0.8rem;
}

.footer-info .bank-info {
  width: 28.2rem;
}


/* footer Copyright */
.footer-rights {
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  padding: 1.6rem 45rem;
  background: var(--color-gray-900);
  color: var(--color-gray-200);
  align-items: flex-end;
}

.footer-rights li a {
  display: inline-block;
  width: 3.4rem;
  height: 3.4rem;
}

.footer-rights li a:last-child {
  border-radius: 34px;
  border: 1px solid #000;
  background: linear-gradient(174deg, #285AEB 5.61%, #BC1888 22.32%, #CC2366 36.16%, #DC2743 51.91%, #E6683C 73.38%, #F09433 91.99%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}