----------------------------------------------

/* 헤더                                            */
/* ---------------------------------------------- */
body {
  width: 192rem;
  height: 102.4rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 102rem;
}

.header__inner {
  width: 12rem;
  height: 11.6rem;
}

.button--category {
  background: var(--color-blue-600);
  color: var(--color-white);
  padding: 3rem 3.2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 12px;
}

header button:hover,
header button:focus {
  outline: 1px solid red;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 2px red;
}


/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */
.navigation {
  margin: 0rem 45rem 5.1rem;
  width: 54rem;
  height: 50rem;
}

.navigation__inner {
  position: relative;
  width: 54rem;
  height: 100%;
  border-top: 1px solid var(--color-gray-100);
  box-shadow: 0 4px 4px var(--color-opacity-20);
}

/* 내비게이션 리스트 ul 배치 */
.navigation__inner .dep1-ul {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 1rem 0.5rem;
}

/* 1,2depth / 2,3depth 구분선 */
.navigation__inner .dep2-ul,
.navigation__inner .dep3-ul {
  position: absolute;
  top: 0;
  left: 18rem;
  padding: 1rem 0.5rem;
  width: 100%;
  height: 100%;
}



/* 네이게이션 js  */
/* 1. ul 숨기기 */
.navigation,
.dep2-ul,
.dep3-ul {
  display: none;
}

/* 2. 마우스카테고리 접근시
    네비게이션 메뉴depth 펼쳐짐
*/
.is--active.navigation,
.is--active.dep2-ul,
.is--active.dep3-ul {
  display: block;
}

.dep1-link.is--active,
.dep1-link:focus,
.dep2-link.is--active,
.dep2-link:focus {
  color: var(--color-blue-600);
  font-weight: 700;
  background: url(../../assets/icon/more-right-active.svg) no-repeat 95% 50%;
}

.dep3-link:hover,
.dep3-link:focus {
  color: var(--color-blue-600);
  font-weight: 700;
  text-decoration: underline;
}



/* 내비게이션 리스트 li */
.ico-clothes {
  color: var(--color-blue-600);
}

.navigation__inner li .arrow {
  font-weight: 700;
  color: var(--color-blue-600);
}


.navigation__list .dep1-li {
  width: 18rem;
  height: 3rem;
  gap: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__list .dep1-link {
  display: flex;
  padding: 0.5rem 0rem 0.5rem 2rem;
  width: 15rem;
  align-items: center;
  gap: 4px;
}

.navigation__list .dep2-li,
.navigation__list .dep3-li {
  display: inline-block;
}

.navigation__list .dep2-link,
.navigation__list .dep3-link {
  display: block;
  padding: 0.5rem 0rem 0.5rem 2rem;
  width: 15rem;
}
/* 그림자 라인 */
.navigation__inner .dep2-ul::before,
.navigation__inner .dep3-ul::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--color-gray-100);
  width: 0.1rem;

  /* 100%에서 위,아래 1rem씩 뺀 2rem을 제외한 height크기
  height: calc(100% - 2rem);*/
  height: 100%;
  top: 0;
  box-shadow: -1px 0 2px var(--color-opacity-20);
}

/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */
.footer-link {
  display: inline-flex;
  width: 192rem;
  height: 4rem;
  margin: 0.5rem 1.4rem 0.6rem;

  font-size: 12px;
  color: var(--color-gray-800);
  background: var(--color-gray-200);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.footer-link .footer-link-inner {
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-link a {
  display: block;
  padding: 0.5rem 1.4rem 0.6rem 1.4rem;
}

.footer-link .divider {
  border-right: 1px solid var(--color-gray-800);
  height: 1.4rem;
}

/* footer 쿠팡 정보 */
.footer-info {
  margin: 3.2rem 36rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 120rem;
  height: 20.7rem;
  gap: 63px;
  font-size: 16px;
  line-height: 120%
}

.footer-info .logo {
  width: 17.6rem;
  height: 4rem;
  margin: 0;
  background: url(../../assets/logo/logo-mono.svg) no-repeat;
}

.footer-info .service-offer li,
.footer-info .address li:nth-of-type(4) {
  padding-bottom: 1.2rem;
}


.footer-info .address li:not(:nth-of-type(4)),
.footer-info .bank-info li:first-child {
  padding-bottom: 0.8rem;
}

/* 첫번째 줄 */
.address li:first-child {
  display: inline;

}

.address .divider {
  border-right: 1px solid var(--color-gray-800);
  display: inline-flex;
  margin: 0px 1.5rem 0 1.3rem;
  height: 1.2rem;
}

.address li:nth-of-type(4) {
  margin-top: 0.4rem;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  color: var(--color-gray-800);
}

.footer-info .address li:nth-of-type(3) {
  display: inline;
}

.footer-info .bank-info {
  width: 28.2rem;
}


/* footer Copyright */
.footer-rights {
  width: 192rem;
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  padding: 1.6rem 45rem;
  background: var(--color-gray-900);
  color: var(--color-gray-200);
  align-items: flex-end;
}

.footer-rights li a {
  display: inline-block;
  width: 3.4rem;
  height: 3.4rem;
}

.footer-rights li a:last-child {
  border-radius: 34px;
  border: 1px solid #000;
  background: linear-gradient(174deg, #285AEB 5.61%, #BC1888 22.32%, #CC2366 36.16%, #DC2743 51.91%, #E6683C 73.38%, #F09433 91.99%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
