/* CSS 작성 */
body {
  width: 102rem;
  height: 109.8rem;
  margin-top: 10rem;
  margin-bottom: 4.8rem;

}

.logo {
  width: 17.6rem;
  height: 4rem;
  margin-bottom: 4.8rem;
}


/* 오늘의 발견 섹션 영역 */
.title h4,
.title p {
  display: inline;
  vertical-align: middle;
}

h4 {
  font-family: "Noto Sans";
  font-size: 2.4rem;
}

.line {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-gray-600);
}

.title p {
  color: var(--color-gray-600);

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}


/* 상품 이미지카드 위치 조정 */
.cardWrap {
  padding-top: 2.4rem;
}

.imgCard .card_link:not(:last-child) {
  margin-right: 1.6rem;
}

.imgCard:nth-child(2) .card_link {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.imgCard:nth-child(1) .card_link,
.imgCard:nth-child(3) .card_link:first-child {
  float: left;
  width: 502px;
  height: 310px;
  outline: 1px solid var(--color-gray-500);
}

.imgCard:nth-child(2) .card_link,
.imgCard:nth-child(3) .card_link:not(:first-child) {
  float: left;
  width: 243px;
  height: 310px;
  outline: 1px solid var(--color-gray-500);
}

.imgCard .card_link:hover,
.imgCard .card_link:focus,
.imgCard:nth-child(3) .card_link:hover,
.imgCard:nth-child(3) .card_link:focus {
  outline: 1px solid var(--color-blue-600);
}


/* 상품 이미지 위치 조정*/
.imgCard:nth-child(1) .card_img,
.imgCard:nth-child(3) .card_img:first-child {
  margin: 20px 28px;
  display: block;
}

.imgCard:nth-child(2) .card_img,
.imgCard:nth-child(3) .card_link:not(:first-child) .card_img {
  margin: 14px 22px 14px 23px;
}


/*  상품링크 */
.imgCard .card_link {
  position: relative;
}

.imgCard .card_link::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 4.2rem;
  height: 4.2rem;
  background: url(../../assets/icon/angle-right-square.svg) no-repeat var(--color-gray-300);
}

/* 구매하기 버튼*/
.imgCard .card_link::after {
  content: '구매하기';
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-align: center;
  padding: 1.3rem 2rem 1.3rem 0.5rem;
  font-size: 1.4rem;
  width: 9.2rem;
  background: url(../../assets/icon/angle-right-square.svg) no-repeat right var(--color-gray-300);
  background-color: var(--color-blue-600);
  color: var(--color-white);

  opacity: 0;
  /* 기본 상태에서는 투명하게. 보이지 않아도 레이아웃 자리 차지함 */
  visibility: hidden;
  /* 기본 상태에서는 보이지 않게. 사용자는 요소를 클릭하거나 접근X 공간 차지함. */
  transition: all 0.3s ease-out;
  /* opacity와 visibility에 대해 애니메이션 적용 */
}

.imgCard .card_link:hover::after,
.imgCard .card_link:focus::after {
  /* .imgCard::after,
.imgCard::after { */
  opacity: 1;
  /* 마우스를 올렸을 때 완전히 보이게 */
  visibility: visible;
  /* 마우스를 올렸을 때 보이게 */
}
