/* 카테고리별 추천 광고상품 */

.wrap {
  outline: 1px solid black;
  /* width: 112rem; */
  width: 102rem;
  height: 148rem;
  margin: 10rem 13rem 42rem;
}

header a {
  display: block;
  width: 27.6rem;
  margin: 0 0 4.8rem 0.9rem;
}

section {
  margin-bottom: 2.4rem;
}

section span {
  font-size: 16px;
  font-weight: 500;
  display: block;
}

section strong,
h4 {
  font-size: 24px;
  font-weight: 700;
}

section h4 {
  display: inline;
  color: var(--color-blue-600);
  margin-left: 1rem;
}

article {
  height: 63.1rem;
  display: flex;
  border-top: 1px solid var(--color-brown-300);
  border-bottom: 1px solid var(--color-brown-300);
}

article:nth-of-type(1) {
  margin-bottom: 2.4rem;
}

nav {
  width: 35.5rem;
}

nav h3 {
  margin: 4.7rem 4.5rem 0.8rem 2.4rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-brown-300);
}

nav a {
  display: block;
  margin: 0 8.8rem 24.8rem 2.4rem;
  background: url(../../assets/icon/angle-right-default.svg) no-repeat right 55%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: var(--color-gray-700);
}

.nav-tag {
  height: 31.3rem;
  margin: 0 3.6rem 3rem 2.4rem;
}

.nav-tag li:first-child {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 2rem;
}

.nav-tag li:not(:first-child) {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-brown-300);
  border: 1px solid var(--color-gray-400);
  padding: 0.6rem 1rem;
  margin-bottom: 1.2rem;
  display: inline-block;
}

.carousel {
  width: 32rem;
  height: 63.1rem;
  flex-shrink: 0;
}

.carousel li {
  position: relative;
}

.carousel-text-box {
  position: absolute;
  bottom: 0rem;
  width: 21.6rem;
  margin: 48.3rem 3rem 5.8rem;
  color: var(--color-white);
  display: flex;
  padding: 1.9rem 2.2rem 2rem 2.3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 120%;
  gap: 8px;
}


.carousel-text-box strong {
  font-size: 18px;
  font-weight: 700;
}

.carousel-text-box span {
  font-size: 14px;
  font-weight: 400;
}

article:nth-of-type(1) .carousel-text-box {
  background: var(--color-brown-300);
}

article:nth-of-type(2) .carousel-text-box {
  background: var(--color-green-700);
}

.item-card-wrap {
  height: 63.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.item-card-wrap li {
  width: 16rem;
  height: 30rem;
  padding-bottom: 5.5rem;
  display: flex;
  margin: 0.9rem 1rem;

  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.item-card-wrap li:nth-child(3),
.item-card-wrap li:nth-child(6) {
  margin: 0.9rem 0 1rem;
}