/* 카테고리별 추천 광고상품 */
.wrap {
  width: 102rem;
  height: 148rem;
  margin: 10rem 13rem 42rem;
}

header a {
  display: block;
  width: 27.6rem;
  margin: 0 0 4.8rem 0.9rem;
}

section {
  margin-bottom: 2.4rem;
}

section span {
  font-size: 16px;
  font-weight: 500;
  display: block;
}

section strong,
h4 {
  font-size: 24px;
  font-weight: 700;
}

section h4 {
  display: inline;
  color: var(--color-blue-600);
  margin-left: 1rem;
}

/* 생활용품 구분선 */
article {
  display: flex;
  border-top: 1px solid var(--color-brown-300);
}

article:nth-of-type(1)::before {
  content: "";
  position: absolute;
  left: 62.8rem;
  top: 59rem;
  transform: translateY(-50%);
  width: 53rem;
  height: 0.1rem;
  /*
  [ 0.5px만드는 방법 ]
      *to bottom - 위에서 아래로
      var(--color-gray-600) 0%,- 시작 색상, 시작위치0%
      var(--color-gray-600) 50%,- 50%지점까지 동일한 색상
      transparent- 50%지점부터 100%까지 투명한색으로.
      *1px 절반인 0.5px 만큼 단색으로 나머지 0.5px은 투명색으로.
      */
  background: linear-gradient(to bottom, var(--color-gray-600) 0%, var(--color-gray-600) 50%,
      transparent 50%, transparent 100%);
}

article:nth-of-type(1)::after {
  content: '';
  position: absolute;
  top: 90.5rem;
  left: 13rem;
  width: 102rem;
  border-bottom: 1px solid var(--color-brown-300);
}

article:nth-of-type(1) {
  margin-bottom: 2.4rem;
}

/* 주방용품 구분선 */
article:nth-of-type(2) {
  border-top: 1px solid var(--color-green-700);
}

article:nth-of-type(2)::before {
  content: "";
  position: absolute;
  left: 62.8rem;
  top: 125rem;
  transform: translateY(-50%);
  width: 53rem;
  height: 0.1rem;
  background: linear-gradient(to bottom, var(--color-gray-600) 0%, var(--color-gray-600) 50%,
      transparent 50%, transparent 100%);
}

article:nth-of-type(2)::after {
  content: '';
  position: absolute;
  top: 156.4rem;
  left: 13rem;
  width: 102rem;
  border-bottom: 1px solid var(--color-green-700);
}

/* HOT키워드 */
nav {
  width: 35.5rem;
  display: flex;
  flex-direction: column;
  margin: 2.4rem 0;
  flex-wrap: wrap;
  align-content: center;
}

article:nth-of-type(2) nav h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-green-700);
}

nav .nav-link {
  margin: 0;
  flex-grow: 1;
}

.nav-link h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-brown-300);
  margin-bottom: 0.8rem;
}

nav .nav-link a {
  display: block;
  background: url(../../assets/icon/angle-right-default.svg) no-repeat 6rem 70%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: var(--color-gray-700);
}

.nav-tag {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-tag .nav-tag-txt {
  margin: 2rem 0;
  font-size: 18px;
  font-weight: 500;
}

.nav-tag .nav-tag-item {
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-brown-300);
  outline: 1px solid var(--color-gray-400);
  margin: 0rem 0.7rem 1.2rem 0;
}

.nav-tag li a:hover,
.nav-tag li a:focus {
  outline: 1px solid var(--color-black);

}

article:nth-of-type(2) .nav-tag li a {
  color: var(--color-green-700);
}

.nav-tag li:last-child a {
  margin-bottom: 0;
}


/* 캐러셀 */
.carousel {
  width: 32rem;
  flex-shrink: 0;
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  /* hide scrollbar but allow scrolling */
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

/* for Chrome, Safari, and Opera */
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel .carousel_item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  width: 32rem;
  position: relative;
}

.carousel .carousel_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-text-box {
  position: absolute;
  bottom: 0rem;
  width: 21.6rem;
  margin: 48.3rem 3rem 5.8rem;
  color: var(--color-white);
  display: flex;
  padding: 1.9rem 2.2rem 2rem 2.3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 120%;
  gap: 8px;
}

.carousel-text-box .carousel_title {
  font-size: 18px;
  font-weight: 700;
}

.carousel-text-box .carousel_content {
  font-size: 14px;
  font-weight: 400;
}


/* 캐러셀-인디케이터 */
.carousel-indicator {
  position: relative;
  top: -3.5rem;
  left: -32rem;
}

.indicator_link:first-child,
.indicator_link:last-child {
  position: absolute;
  bottom: -3.6rem;
  left: -17.5rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--color-gray-600);
}

.indicator_link:last-child {
  left: -15.5rem;
}


.indicator_link:first-child::before,
.indicator_link:last-child:after {
  content: '';
  position: absolute;
  top: 0rem;
  left: 31.5rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--color-gray-600);
}

.indicator_link:hover::before,
.indicator_link:focus::before,
.indicator_link:hover::after,
.indicator_link:focus::after,
.indicator_link:hover,
.indicator_link:focus {
  content: '';
  background-color: var(--color-gray-700)
}



/* 캐러셀 텍스트박스 */
article:nth-of-type(1) .carousel-text-box {
  background: var(--color-brown-300);
}

article:nth-of-type(2) .carousel-text-box {
  background: var(--color-green-700);
}


/* 아이템 카드 */
.item-card-wrap {
  height: 63.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-card-wrap li {
  width: 16rem;
  height: 30rem;
  padding-bottom: 5.5rem;
  display: flex;
  margin: 0.9rem 1rem;

  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.item-card-wrap li:nth-child(3),
.item-card-wrap li:nth-child(6) {
  margin: 0.9rem 0 1rem;
}

.item-title {
  display: block;
  width: 15.2rem;
  margin: 1.2rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 120%
}

.price strong {
  display: inline;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 120%;
}

.sale,
.rocket-wow {
  display: block;
  margin: 0 0 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-red-500);
}

.item-info img {
  margin-left: 0.6rem;
}