/* 카테고리별 추천 광고상품 */

.wrap {
  outline: 1px solid black;
  width: 102rem;
  height: 137.6rem;
  margin: 10rem 13rem 42rem;
}

header a {
  display: block;
  width: 27.6rem;
  margin: 0 0 4.8rem 0.9rem;
}

section span {
  font-size: 16px;
  font-weight: 500;
  display: block;
}

section strong,
h4 {
  font-size: 24px;
  font-weight: 700;
}

section h4 {
  display: inline;
  color: var(--color-blue-600);
  margin-left: 1rem;
}

nav {
  width: 17.4rem;

}

nav h3 {
  margin: 4.7rem 6.1rem 0.8rem 2.4rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-brown-300);
}

nav a {
  display: block;
  margin: 0 8.8rem 24.8rem 2.4rem;
  background: url(../../assets/icon/angle-right-default.svg) no-repeat right 55%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: var(--color-gray-700);
}

.nav-tag {
  height: 31.3rem;
  margin: 0 2.6rem 3rem 2.4rem;
}

.nav-tag li:first-child {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 2rem;
}

.nav-tag li:not(:first-child) {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-brown-300);
  border: 1px solid var(--color-gray-400);
  padding: 0.6rem 1rem;
  margin-bottom: 1.2rem;
  display: inline-block;

}


.carousel {
  display: inline-block;
  width: 32rem;
  height: 63.1rem;
  flex-shrink: 0;
  /* margin-right: 1.6rem; */
}

.item-card-wrap {
  width: 52.8rem;
  display: flex;

}