/* 오늘의 쇼핑 제안 */
.wrap {
  outline: 1px solid black;
  margin: 0 auto;
  width: 102.2rem;
  height: 44.2rem;
  /* margin: 10rem 14.7rem 145.8rem 14.5rem; */
  margin: 10rem 14.7rem 145.8rem 5rem;
}

.logo {
  width: 176px;
  height: 40px;
  flex-shrink: 0;
}

section {
  background: url(../../assets/icon/shopping.svg) no-repeat;
  width: 23.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 2.5rem;
}

h4 p {
  margin-left: 3rem;
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.cardWrap {
  display: flex;
  position: relative;
}

a {
  width: 20rem;
  height: 27rem;
  margin: 0 0 3rem 0.2rem;
  padding-top: 1.4rem;

}

a:nth-of-type(4) .itemRate {
  left: 58.5rem;
}

a:nth-of-type(5) .itemRate {
  left: 79rem;
}

a:nth-of-type(1) .itemRate,
a:nth-of-type(4) .itemRate,
a:nth-of-type(5) .itemRate {
  position: absolute;
  top: 0;
  padding: 3px 10px;
  width: 5.3rem;
  height: 3rem;
  line-height: 2.2rem;
  border-radius: 0px 0px 4px 0px;
  background: var(--color-red-500);
  color: var(--color-white);
}




.itemInfo {

  margin: 1.2rem 1.4rem 0 1.4rem;

  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(---color-black);


  /* position: relative; */
}

.itemName {
  margin-bottom: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* autoprefixer: off */


}


/* .itemShip { */
.itemInfo {
  position: relative;
}

.itemShip {
  position: relative;
  display: block;
  width: 8.8rem;
  height: 1.2rem;
}

.itemShip img {
  display: block;
}

/* a:nth-of-type(1) .ico-star { */
.ico-star {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  background: url(../../assets/sprites/rating-stars.png) no-repeat 2px -125px;
  height: 120%;
}

/* a:nth-of-type(1) .ico-star-fill { */
/* .ico-star-fill { */
/* position: absolute; */
/* top: 0; */
/* left: 0; */
/* display: block; */
/* margin: 0.4rem; */

/* height: 100%; */
/* background: url(../../assets/sprites/rating-stars.png) no-repeat left center; */

/* background-size: contain; */
/* 별 이미지가 컨테이너에 맞게 조정 */
/* overflow: hidden; */
/* 넘치는 부분 숨기기 */
/* } */