/* 헤더 */
.wrap {
  margin: 0 auto;
  width: 102rem;
  height: 14.8rem;
  border-bottom: 1px solid var(--color-gray-100);
}


/* 로그인 바 */
.login-bar {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  font-size: 12px;
  background: var(--color-gray-100);
}

.login-bar li:nth-of-type(1),
 .login-bar li:nth-of-type(4) {
  padding: 0.5rem 0.8rem;
  flex-grow: 1;
}

.login-bar li:nth-of-type(2),
.login-bar li:nth-of-type(3),
.login-bar li:nth-of-type(5) {
  padding: 0.5rem 0.8rem 0.5rem 0;
  flex-grow: 1;
}

.login-bar li:nth-of-type(1) {
  order: 3;
}

.login-bar li:nth-of-type(2) {
  order: 4;
}

.login-bar li:nth-of-type(3) {
  order: 5;
}

.login-bar li:nth-of-type(4) {
  order: 1;
}

.login-bar li:nth-of-type(5) {
  order: 2;
  flex-grow: 70;
}


/* 로고 */
.logo a {
  grid-area: logo;
  display: inline-block;
  background: url(../../assets/logo/logo.svg) no-repeat;
  width: 17.6rem;
  height: 4rem;
  margin: 2.3rem 0 0 4rem;
}


/* 카테고리 버튼 */
.main-contents {
  height: 12.1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 1.4fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'category logo     search   info'
    'category linkList linkList info';

  position: relative;
}

.button--category {
  grid-area: category;
  width: 11rem;
  text-align: center;
  height: 11.2rem;
  line-height: 12.5;
  color: var(--color-white);
  background: url(../../assets/icon/hamburger.svg) no-repeat 50% 30% var(--color-blue-600);
  font-size: 1.2rem;
}

.button--category:hover,
.button--category:focus,
.search-form select:hover,
.search-form select:focus,
.mic-btn:hover,
.mic-btn:focus,
.keyword-btn:hover,
.keyword-btn:focus {
  outline: 2px solid black;
}


/* 검색 영역 */
.search-form {
  grid-area: search;
  width: 51.6rem;
  height: 4rem;
  display: flex;
  outline: 1px solid var(--color-blue-600);
  margin: 2.3rem 0rem 0rem 3rem;

  position: relative;
}


/* 셀렉트 */
.search-form select {
  outline: none;
  box-shadow: none;
  margin: 0;
  width: 13.5rem;
  border-right: 1px solid var(--color-gray-100);
  padding: 1.3rem 4.6rem 1.3rem 1.2rem;
  font-size: 12px;
}

.search-form img {
  position: absolute;
  top: 0px;
  left: 10rem;
  pointer-events: none;
}

.search-form input {
  padding: 0 123px 0 0;
  border: none;

  color: var(--color-gray-600);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%
}

.mic-btn {
  background: url(../../assets/icon/mic.svg) no-repeat;
  width: 4rem;
  height: 4rem;
}

.keyword-btn {
  background: url(../../assets/icon/search.svg) no-repeat;
  width: 4rem;
  height: 4rem;
  text-align: center;
}


/* 마이쿠팡 */
.myCoupang {
  grid-area: info;
  font-size: 1.2rem;
  line-height: 3;
  position: relative;
  width: 5.6rem;
  height: 11rem;
  margin-right: 5.5rem;
}

.myCoupang-btn {
  position: absolute;
  top: 3rem;
  left: 0px;
  user-select: none;
  background: url(../../assets/icon/my-coupang.svg) no-repeat 50% 0rem;
  width: 5.6rem;
  height: 78%;
  text-align: center;
}

.myCoupang-box {
  outline: 1px solid var(--color-gray-300);
  position: absolute;
  bottom: -11rem;
  left: -3.5rem;

  width: 9rem;
  background-color: var(--color-white);
  height: 13.7rem;
  text-align: center;
  padding: 1.5rem 1.4rem;
  display: none;
}

.is--active .myCoupang-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* .is--active .myCoupang-box::before { */
.myCoupang-box::before {
  content: '';
  border: 1px solid var(--color-gray-300);
  border-top: 0;
  border-right: 0;
  transform: rotate(135deg);
  background-color: var(--color-white);
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: -0.5rem;
  left: 45%;
}


/* 장바구니 */
.cart {
  grid-area: info;
  background: url(../../assets/icon/cart.svg) no-repeat;
  font-size: 12px;
  margin: 2.3rem 0 0 10rem;
  line-height: 6;
  height: 100%;
  position: relative;
}

.cart-num {
  position: absolute;
  top: 0.1rem;
  right: 0.7rem;
  text-align: center;

  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-blue-600);
}

.cart-btn {
  position: absolute;
  top: 1rem;
  height: 65%;
}

.cart-txt-box {
  position: absolute;
  top: 7.1rem;
  right: 1.8rem;
  outline: 1px solid var(--color-gray-300);
  width: 20rem;
  font-size: 14px;
  background-color: white;
  text-align: center;
  padding: 1.5rem 4rem;

  display: none;
}

.cart--empty .cart-txt-box {
  display: flex;
}

.cart-txt-box::before {
  content: '';
  border: 1px solid var(--color-gray-300);
  border-top: 0;
  border-right: 0;
  transform: rotate(135deg);
  background-color: var(--color-white);

  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: -0.5rem;
  right: 4%;
}


/* 상품이 담겼을때 */
/* .cart-num:hover .is--product,
.cart-num:focus .is--product{
  position: absolute;
  top: 0.1rem;
  right: 0.7rem;
  text-align: center;

  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-blue-600);
} */

.is-product {
  display: none;
}

.is-product .cart-txt-box {
  width: 28.8rem;
  height: 21.8rem;
  flex-wrap: wrap;
}

.is-product li {
  padding: 1rem 1.5rem 1rem 1.6rem;
}

.is-product li:nth-of-type(1) {
  background: url(../../assets/cart/bvlgari-perfume.jpg) no-repeat;
  background-size: 6rem 6rem;
  background-position: 1vw 2vh;
  height: 8rem;
  border-bottom: 1px solid var(--color-gray-300);
  padding-top: 2rem;
}

.is-product li:nth-of-type(1) p {
  margin-left: 7rem;
}

.is-product li:nth-of-type(2) {
  background: url(../../assets/cart/macbookpro.jpg) no-repeat;
  background-size: 6rem 6rem;
  background-position: 1vw 3vh;
  height: 8rem;
  border-bottom: 1px solid var(--color-gray-300);
}

.is-product li:nth-of-type(2) P {
  margin-left: 7rem;
}

.is-product li:nth-of-type(3) {
  padding: 2rem 9rem;
  background: var(--color-gray-100);
}


/* 링크 바 */
.link-list {
  width: 78rem;
  height: 2.6rem;

  font-size: 1.2rem;
  line-height: 120%;
  position: absolute;
  top: 8rem;
  left: 15rem;
}

.link-list li {
  display: inline-block;
  padding: 0.8rem 1.3rem;
}

.link-list li:nth-of-type(1) img {
  margin-right: 0.4rem;
}

.link-list li:nth-of-type(2) img {
  margin-right: 0.4rem;
}

.link-list li:nth-of-type(3) img {
  margin-left: 0.4rem;
}